<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Nakasi, Interior Designers">
    <meta name="author" content="Nakasi">

    <!-- Le styles -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <link href="{{ app.request.basepath }}/css/style.css" rel="stylesheet">

</head>
<body>

    {#main top navbar#}
    <nav>
        <div class="nav-wrapper container">
            <a href="#!" class="brand-logo">Logo</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{{ app.request.basepath }}"><i class="fa fa-home"></i></a></li>

                <!-- Interior Dropdown Trigger -->
                <li><a class="dropdown-button" href="#!" data-activates="dropdown-interior">Interior Designs<i class="material-icons right">arrow_drop_down</i></a></li>
                <!-- Interior Dropdown Structure -->
                <ul id="dropdown-interior" class="dropdown-content">
                    <li><a href="{{ app.request.basepath }}/bedrooms">Bedrooms</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ app.request.basepath }}/bathrooms">Bathrooms</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ app.request.basepath }}/kids-room">Kids Room</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ app.request.basepath }}/dining-area">Dining Area</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ app.request.basepath }}/kitchen">Kitchen</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ app.request.basepath }}/living-area">Living Area</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ app.request.basepath }}/office-design">Office Design</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ app.request.basepath }}/lobby-design">Lobby Design</a></li>
                </ul>

                <li><a href="{{ app.request.basepath }}/exterior-designs">Exterior Design</a></li>
                <li><a href="{{ app.request.basepath }}/contact">Contact</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="{{ app.request.basepath }}"><i class="fa fa-home"></i></a></li>

                <!-- Interior Dropdown Trigger -->
                <li><a class="dropdown-button" href="#!" data-activates="dropdown-interior-mobile">Interior Designs<i class="material-icons right">arrow_drop_down</i></a></li>
                <!-- Interior Dropdown Structure -->
                <ul id="dropdown-interior-mobile" class="dropdown-content">
                    <li><a href="{{ app.request.basepath }}/bedrooms">Bedrooms</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ app.request.basepath }}/bathrooms">Bathrooms</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ app.request.basepath }}/kids-room">Kids Room</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ app.request.basepath }}/dining-area">Dining Area</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ app.request.basepath }}/kitchen">Kitchen</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ app.request.basepath }}/living-area">Living Area</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ app.request.basepath }}/office-design">Office Design</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ app.request.basepath }}/lobby-design">Lobby Design</a></li>
                </ul>

                <li><a href="{{ app.request.basepath }}/exterior-designs">Exterior Design</a></li>
                <li><a href="{{ app.request.basepath }}/contact">Contact</a></li>
            </ul>
        </div>
    </nav>


    {% block content %}
    {% endblock %}



    <footer>
        <nav>
            <div class="container">
                <div class="nav-wrapper">
                    <a href="{{ app.request.basepath }}">Copyright &copy; 2015 Nakasi. All Rights Reserved</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="{{ app.request.basepath }}/about">About Us</a></li>
                        <li><a href="{{ app.request.basepath }}/contact">Components</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </footer>



    <!-- Compiled and minified JavaScript -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>

    <script>
        $( document ).ready(function(){
            $(".button-collapse").sideNav();
        })
    </script>

    {% block javascript %}
    {% endblock %}

</body>
</html>