{% extends 'base.twig' %}

{% block content %}


    <div class="row">
        <div class="parallax-container valign-wrapper">
            <div class="parallax"><img src="{{ app.request.basepath }}/images/gallery/kitchens/kitchen_op1.jpg"></div>
            <div class="col s12" style="background: rgba(0, 0, 0, 0.4) none repeat scroll 0% 0%;">
                <h3 class="center-align valign white-text ">Modular Kitchens for Master Chef's</h3>
                <h5 class="center-align valign white-text">Advanced Modular designs at best prices...</h5>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <br/>
            <h3 class="red-text text-accent-2 center-align">
                <i class="material-icons red-text text-lighten-4">grade</i> Features <i class="material-icons red-text text-lighten-4 ">grade</i>
            </h3>
        </div>
        <hr/>
        <div class="row">
            <div class="col s3">
                <div class="center-align">
                    <i class="large material-icons deep-purple-text text-accent-2">grade</i>
                    <br/>
                    <h5>Interior Decor</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="col s3">
                <div class="center-align">
                    <i class="large material-icons green-text text-accent-3">invert_colors</i>
                    <br/>
                    <h5>Interior Decor</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="col s3">
                <div class="center-align">
                    <i class="large material-icons cyan-text text-accent-3">alarm_on</i>
                    <br/>
                    <h5>Interior Decor</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="col s3">
                <div class="center-align">
                    <i class="large material-icons pink-text text-accent-2">forum</i>
                    <br/>
                    <h5>Interior Decor</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
        <br/>
        <br/>
    </div>

    <div class="row red lighten-1">
        <div class="container">
            <br/>
            <h3 class="center-align white-text">Our Recent Works</h3>
            <hr/>

            <div class="row">
                <div class="col s12 m6">
                    <div class="card hoverable">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{{ app.request.basepath }}/images/gallery/kitchens/kitchen_op1.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Master Kitchen<i class="material-icons right">more_vert</i></span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Master Kitchen<i class="material-icons right">close</i></span>
                            <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        </div>
                    </div>
                </div>

                <div class="col s12 m6">
                    <div class="row">
                        <div class="col s12 m6">
                            <div class="card hoverable">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="activator" src="{{ app.request.basepath }}/images/gallery/kids_room_gallery/thumbs/thumbs_kidsroom_view01.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6">
                            <div class="card hoverable">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="activator" src="{{ app.request.basepath }}/images/gallery/kids_room_gallery/thumbs/thumbs_kidsroom_view1.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6">
                            <div class="card hoverable">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="activator" src="{{ app.request.basepath }}/images/gallery/living_area_gallery/thumbs/thumbs_cam2.jpg">
                                </div>
                                <div class="card-content">
                                    <span class="card-title activator grey-text text-darken-4">Master Kitchen<i class="material-icons right">more_vert</i></span>
                                </div>
                                <div class="card-reveal">
                                    <span class="card-title grey-text text-darken-4">Master Kitchen<i class="material-icons right">close</i></span>
                                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6">
                            <div class="card hoverable">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="activator" src="{{ app.request.basepath }}/images/gallery/living_area_gallery/thumbs/thumbs_living-roon01.jpg">
                                </div>
                                <div class="card-content">
                                    <span class="card-title activator grey-text text-darken-4">Master Kitchen<i class="material-icons right">more_vert</i></span>
                                </div>
                                <div class="card-reveal">
                                    <span class="card-title grey-text text-darken-4">Master Kitchen<i class="material-icons right">close</i></span>
                                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="container">
        <br/>
        <h4><i class="small material-icons blue-grey-text text-darken-2">settings_phone</i> Call Us Now @ : +91 9876543210</h4>
        <br/>
    </div>

{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function(){
            $('.parallax').parallax();
        });
    </script>
{% endblock %}
